<%- include('partials/header') %>

<div class="text-center">
  <h1 class="mb-4">Welcome to Product-Supplier Management</h1>
  <p><a href="/suppliers" class="btn btn-primary">Manage Suppliers</a></p>
  <p><a href="/products" class="btn btn-success">Manage Products</a></p>
</div>

<%- include('partials/footer') %>
